/*RESET CSS*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}legend{color:#000}
:focus {    outline: 0; }
ol, ul {  list-style: none; }
a img { border:none;}
a:link{}
a:hover{}
img{margin: 0}
*{outline: none;}
ol, ul, li {  list-style: none; }
:focus{outline:none;}
iframe{margin: 0; border : 0;}

header{
	width: 100%;
	height: 139px;
	background-image: url('../img/header.png');
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
}

footer{
	background-color: #BBBFC5;
	width: 100%;
	height: 301px;
		background-image: url('../img/footer.png');
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
}